<form name="taskForm" class="form-horizontal ">
    <legend>{{title}}</legend>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input class="input-xxlarge" id="description" name="description" type="text" ng-model="task.description" placeholder="Enter your task description here"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dueDate">Due date</label>
        <div class="controls">
            <input class="input-xxlarge" id="due-date" name="due-date" type="text" datepicker-popup="yyyy-MM-dd" ng-model="task.due_date" placeholder="Select a due date for your task"/>

        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="priority">Priority</label>
        <div class="controls">
            <select id="priority" name="priority" ng-model="task.priority" class="input-xxlarge">
                <option value="2">{{2 | priority}}</option>
                <option value="1">{{1 | priority}}</option>
                <option value="0">{{0 | priority}}</option>
                <option value="-1">{{-1 | priority}}</option>
                <option value="-2">{{-2 | priority}}</option>
            </select>

        </div>
    </div>
    <div class="control-group">
        <div class="form-actions">
            <button class="btn btn-primary" ng-click="commitTask()">{{commit}}</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</form>