<table class="table">
    <thead>
    <tr>

        <th ng-class="{order:order=='completed', reversed:reversed&&order=='completed'}"
            ng-click="setOrder('completed')">Completed
        </th>
        <th ng-class="{order:order=='description', reversed:reversed&&order=='description'}"
            ng-click="setOrder('description')">Description
        </th>
        <th ng-class="{order:order=='due_date', reversed:reversed&&order=='due_date'}" ng-click="setOrder('due_date')">
            Due date
        </th>
        <th ng-class="{order:order=='priority', reversed:reversed&&order=='priority'}" ng-click="setOrder('priority')">
            Priority
        </th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='task in tasks|orderBy:order:reversed' ng-class='{success:task.completed}'>
        <td><input type="checkbox" ng-model="task.completed" ng-click="updateTask(task)"/></td>
        <td>{{task.description}}</td>
        <td>{{task.due_date}}</td>
        <td>{{task.priority | priority}}</td>
        <td>
            <button class="btn btn-primary" ng-click="editTask(task)">Edit</button>
        </td>
        <td>
            <button class="btn btn-danger" ng-click="deleteTask(task)">Delete</button>
        </td>
    </tr>
    </tbody>

</table>
<div class="form-controls">
    <button class="btn btn-primary" ng-click="createTask()">Create task</button>
    <button class="btn btn-warning" ng-click="archiveCompletedTasks()">Archive completed tasks</button>
</div>
