<div ng-app="todoApp">
  <div class="container" authentication-required>
    <div id="login-wrapper">
      <div sessions-form></div>
      <div registrations-form></div>
    </div>
    <div id="content-wrapper" ng-view>

    </div>
  </div>
</div>