// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

table {
  th {
    position: relative;
    cursor: pointer;

    &.order {
      &:before {
        position: absolute;
        right: 10px;
        top: 15px;
        content: ' ';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid black;
      }

      &.reversed {
        &:before {
          content: ' ';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-top: 5px solid black;
        }
      }
    }
  }
}